---
---

@import "{{ site.theme }}";

#header_wrap {
  background-color: #36454f !important;
  background-image: linear-gradient(to top, #36454f, #20292f);
}

#main_content_wrap {
  background-color: #d3d8d8;
}

#footer_wrap {
  background-color: #36454f;
  background-image: linear-gradient(to top, #20292f,#36454f);
}

.proj {
  background-color: #aeb4b8;
}

a {
  color: black;
  font-size: 15px;
  text-decoration: underline;
}
