---
---

@import "{{ site.theme }}";

header {
  background-color: #36454f;
}

#header_wrap {
  background-color: #36454f;
}

.main_content_wrap {
  background-color: #a8b2b2;
}

#footer_wrap {
  background-color: #36454f;
}

.proj {
  background-color: #c2c7ca;
}

a {
  color: black;
  font-size: 15px;
  text-decoration: underline;
}
